body{background:#fff;color:#555555;font:normal normal 13px Domine, Arial, Helvetica, sans-serif;line-height:1.4;margin:0;padding:0;}
a:link,a:visited{color:#DF1781;text-decoration:none;outline:none;}
a:hover{color:#FF75BD;text-decoration:none;outline:none;}
a img{border-width:0;}
#body-wrapper{margin:0;padding:0;}
.section,.widget{margin:0;padding:0;line-height:1.4;}
.widget ul,.widget li{margin:0;padding:0;line-height:1.3;}
h1{font:normal normal 40px Domine,Arial,Helvetica,sans-serif;}
h2{font:normal normal 30px Domine,Arial,Helvetica,sans-serif;}
h3{font:normal normal 20px Domine,Arial,Helvetica,sans-serif;}
h4{font:normal normal 16px Domine,Arial,Helvetica,sans-serif;}
h5{font:normal normal 14px Domine,Arial,Helvetica,sans-serif;}
h6{font:normal normal 12px Domine,Arial,Helvetica,sans-serif;}
h1,h2,h3,h4,h5,h6{margin-bottom:16px;line-height:1;}
/* Outer-Wrapper----------------------------------------------- */
#outer-wrapper{width:960px;margin:0 auto 0;padding:0;text-align:left;}
#content-wrapper:before,#content-wrapper:after{content:" ";display:table;}
#content-wrapper:after{clear:both;}
#content-wrapper{padding:15px;background:#f5f5f5;overflow:hidden;opacity:.9;-webkit-box-shadow:0 0 16px rgba(97,97,97,.30);-moz-box-shadow:0 0 16px rgba(97,97,97,.30);box-shadow:0 0 16px rgba(97,97,97,.30);}
#main-wrapper{width:615px;float:left;margin:0;padding:0 0 0 0;word-wrap:break-word;overflow:hidden;}
#rsidebar-wrapper{width:300px;float:right;margin:0;padding:0 0 0 0;word-wrap:break-word;overflow:hidden;}
/* Header-----------------------------------------------*/
#header-wrapper{width:960px;margin:0 auto 0;min-height:auto;height:auto;padding:0;overflow:hidden;}
#header-inner{background-position:center;margin-left:auto;margin-right:auto;}
#headerbleft{margin:0;color:#DB1079;float:left;width:56%;overflow:hidden;}
#headerbleft h1{color:#DB1079;margin:0;padding:0 0 0 0;font:normal bold 24px 'Oswald',Arial,Helvetica,Sans-serif;line-height:1;}
#headerbleft .description{padding-left:0;color:#DB1079;line-height:1;padding-top:0;margin-top:10px;}
#headerbleft h1 a,#headerbleft h1 a:visited{color:#DB1079;text-decoration:none;}
#headerbright{float:right;width:42%;margin-right:0;padding-right:0;overflow:hidden;}
#headerbright .widget{padding:0 0 0 0;float:right;}
/* Posts-----------------------------------------------*/
h2.date-header{margin:1.5em 0 .5em;display:none;}
.wrapfullpost{}
.post{margin-bottom:15px;border:0 solid #C3D7DF;}
.post-title{color:#333333;margin:0 0 10px 0;padding:0;font:normal normal 30px 'Oswald',sans-serif;line-height:1.1;border:1px solid #DB1079;border-bottom: 5px solid #DB1079}
.post-title a,.post-title a:visited,.post-title strong{display:block;text-decoration:none;color:#333333;text-decoration:none;}
.post-title strong,.post-title a:hover{color:#DB1079;text-decoration:none;}
.post-body{margin:0;padding:0 0 0 0;line-height:auto;overflow:hidden;font-family:Arial, Helvetica, Sans-serif;}
.post-footer{margin:5px 0;}
.comment-link{margin-left:0;}
.post-body img{padding:3px;}
.postmeta-primary span{padding:3px 0 3px 10px;}
.postmeta-primary span:first-child{background:none;padding-left:0;}
.postmeta-primary{color:#999999;line-height:1.384;padding:0 0 10px;font-family:Oswald;}
.meta_author, .meta_date, .meta_categories, .meta_comments {background:padding-right:5px;margin-right:5px;}
.readmore{margin-top:2px;margin-bottom:5px;float:right;font-family:Oswald;}
.readmore a{color:#DB1079;border-top:1px solid #F9CBDD;padding:8px 14px;font-size:12px;line-height:12px;display:inline-block;text-decoration:none;text-transform:none;background-image:-webkit-gradient(linear,top,bottom,color-stop(0,#F6F6F6),color-stop(1,#E0E0E0));background-image:-ms-linear-gradient(top,#F6F6F6,#E0E0E0);background-image:-o-linear-gradient(top,#F6F6F6,#E0E0E0);background-image:-moz-linear-gradient(top,#F6F6F6,#E0E0E0);background-image:-webkit-linear-gradient(top,#F6F6F6,#E0E0E0);background-image:linear-gradient(to bottom,#F6F6F6,#E0E0E0);-webkit-box-shadow:inset 0 1px 0 0 #FFFFFF;-moz-box-shadow:inset 0 1px 0 0 #FFFFFF;box-shadow:inset 0 1px 0 0 #FFFFFF;}
.readmore a:hover{color:#fff;border-top:1px solid #F23899;text-decoration:none;background-image:-webkit-gradient(linear,top,bottom,color-stop(0,#FE5AAE),color-stop(1,#E31E86));background-image:-ms-linear-gradient(top,#FE5AAE,#E31E86);background-image:-o-linear-gradient(top,#FE5AAE,#E31E86);background-image:-moz-linear-gradient(top,#FE5AAE,#E31E86);background-image:-webkit-linear-gradient(top,#FE5AAE,#E31E86);background-image:linear-gradient(to bottom,#FE5AAE,#E31E86);-webkit-box-shadow:inset 0 1px 0 0 #FF9FD1;-moz-box-shadow:inset 0 1px 0 0 #FF9FD1;box-shadow:inset 0 1px 0 0 #FF9FD1;}
/* Sidebar Content----------------------------------------------- */
.sidebarpbt{margin:0 0 5px 0;color:#DB1079;}
.sidebarpbt a{text-decoration:none;color:#DB1079;}
.sidebarpbt a:hover{text-decoration:none;color:#DB1079;}
.sidebarpbt h2,h3.widgettitle{border-top:1px solid #F9CBDD;margin:0 0 10px 0;padding:10px;background-image:-webkit-gradient(linear,top,bottom,color-stop(0,#DB1079),color-stop(1,#DFDFDF));background-image:-ms-linear-gradient(top,#F7F7F7,#DFDFDF);background-image:-o-linear-gradient(top,#F7F7F7,#DFDFDF);background-image:-moz-linear-gradient(top,#F7F7F7,#DFDFDF);background-image:-webkit-linear-gradient(top,#F7F7F7,#DFDFDF);background-image:linear-gradient(to bottom,#F7F7F7,#DFDFDF);color:#D91078;font-size:16px;line-height:16px;font-family:'Oswald',sans-serif;font-weight:normal;text-decoration:none;text-transform:none;}
.sidebarpbt ul{list-style-type:none;list-style:none;margin:0;padding:0;}
.sidebarpbt ul li{border:1px dotted #DB1079;line-height:1;margin:0 0 5px;padding:5px;}
.sidebarpbt .widget{margin:0 0 5px 0;padding:5px;color:#666666;}
.main .widget{margin:0 0 5px;padding:0 0 2px;}
.main .Blog{border-bottom-width:0;}
.widget-container{background:#fff;list-style-type:none;list-style:none;margin:0 0 5px 0;padding:0;color:#666666;}
/* FOOTER ----------------------------------------------- */
#footer-container{}
#footer{margin-bottom:10px;}
#copyrights{color:#434141;background:#FFFFFF;text-align:center;padding:20px 0;-webkit-box-shadow:inset 0 20px 15px -10px #EEEEEE;-moz-box-shadow:inset 0 20px 15px -10px #EEEEEE;box-shadow:inset 0 20px 15px -10px #EEEEEE;}
#copyrights a{color:#FE5AAE;}
#copyrights a:hover{color:#434141;text-decoration:none;}
#credits{color:#7D7D7D;text-align:center;font-size:11px;padding:10px 0 0 0;}
#credits a{color:#DB1079;text-decoration:none;}
#credits a:hover{text-decoration:none;color:#7D7D7D;}
#footer-widgets-container{}
#footer-widgets{background:#FFFFFF;padding:10px 0 0 0;border-top:1px solid #E1E1E1;opacity:.9;background-color:#fff;-webkit-box-shadow:0 0 16px rgba(97,97,97,.30);-moz-box-shadow:0 0 16px rgba(97,97,97,.30);box-shadow:0 0 16px rgba(97,97,97,.30);}
.footer-widget-box{width:300px;float:left;margin-left:15px;}
.footer-widget-box-last{}
#footer-widgets .widget-container{color:#666666;border:none;padding:0;background:none;}
#footer-widgets .widget-container a{color:#666666;text-decoration:none;}
#footer-widgets .widget-container a:hover{color:#DB1079;text-decoration:none;}
#footer-widgets h2{border-top:1px solid #F9CBDD;margin:0 0 10px 0;padding:10px;background-image:-webkit-gradient(linear,top,bottom,color-stop(0,#F7F7F7),color-stop(1,#DFDFDF));background-image:-ms-linear-gradient(top,#F7F7F7,#DFDFDF);background-image:-o-linear-gradient(top,#F7F7F7,#DFDFDF);background-image:-moz-linear-gradient(top,#F7F7F7,#DFDFDF);background-image:-webkit-linear-gradient(top,#F7F7F7,#DFDFDF);background-image:linear-gradient(to bottom,#F7F7F7,#DFDFDF);color:#D91078;font-size:11px;line-height:16px;font-family:'Oswald',sans-serif;font-weight:normal;text-decoration:none;text-transform:none;}
#footer-widgets .widget ul{list-style-type:none;list-style:none;margin:0;padding:0;}
#footer-widgets .widget ul li{padding:0 0 6px 10px;margin:0 0 6px;border-bottom:1px solid #E8E8E8;}
.footersec .widget{margin:0 0 10px 0;padding:0;color:#666666;}
/* Search ----------------------------------------------- */
#search{border:1px solid #D8D8D8;background:#fff;text-align:left;padding:6px 24px 6px 6px;}
#search #s{background:none;color:#979797;border:0;width:100%;padding:0;margin:0;outline:none;}
#content-search{width:300px;padding:15px 0;}
#topsearch{float:right;margin-top:5px;}
#topsearch #s{width:220px;}
/* Comments----------------------------------------------- */
#comments{margin-bottom:15px;border:0 solid #C3D7DF;padding:10px;}
#comments h4{font-size:125%;font-weight:bold;margin:1em 0;}
.deleted-comment{font-style:italic;color:gray;}
#blog-pager-newer-link{float:left;}
#blog-pager-older-link{float:right;}
#blog-pager{text-align:center;}
.feed-links{clear:both;line-height:2.5;}
.pbt-share-buttons{overflow:hidden;padding:5px 0;margin:0;float:left;}
.pbt-share-buttons a{padding:5px;font-size:10px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:20px;height:20px;display:inline-block;background:#333;color:#fff !important;margin:0 4px 2px 2px;line-height:10px !important;text-align:center;}
/* Profile ----------------------------------------------- */
.breadcrumb-bwrap{border:1px dotted #cccccc;font-size:12px;line-height:1;margin:0 0 5px;padding:5px;}
.pbtthumbimg{float:left;margin:0 10px 5px 0;padding:4px!important;border:1px solid #eeeeee!important;background:none!important;width:200px;height:auto;}
.author-profile{background:#f6f6f6;border:1px solid #eee;margin:10px 0 15px 0;padding:8px;overflow:hidden;}
.author-profile img{border:1px solid #ddd;float:left;margin-right:10px;}
.PopularPosts .item-thumbnail{float:left;margin:0 5px 5px 0;}
.PopularPosts img{border:1px solid #eee;padding:3px;}
.PopularPosts .item-title{font-weight:bold;padding-bottom:0.2em;text-shadow:0 1px 0 #fff;}
.PopularPosts .widget-content ul li{padding:5px 0;background:none;}
.FeaturedPost h3{font-size:120%;line-height:inherit;font-weight:bold;margin:0 0 5px 0;}
.FeaturedPost p{margin:5px 0 10px;}
.FeaturedPost .post-summary{padding:10px;background:#eee;border:1px solid #ddd;}
.post-iconspbt{margin:5px 0 0 0;padding:0;}
.post-locationpbt{margin:5px 0;padding:0;}
#navbar-iframe{height:0;visibility:hidden;display:none;}
.separator a[style="margin-left: 1em; margin-right: 1em;"] {margin-left: auto!important;margin-right: auto!important;}
.separator a[style="clear: left; float: left; margin-bottom: 1em; margin-right: 1em;"] {clear: none !important; float: none !important; margin-bottom: 0em !important; margin-right: 0em !important;}
.separator a[style="clear: left; float: left; margin-bottom: 1em; margin-right: 1em;"] img {float: left !important; margin: 0px 10px 10px 0px;}
.separator a[style="clear: right; float: right; margin-bottom: 1em; margin-left: 1em;"] {clear: none !important; float: none !important; margin-bottom: 0em !important; margin-left: 0em !important;}
.separator a[style="clear: right; float: right; margin-bottom: 1em; margin-left: 1em;"] img {float: right !important; margin: 0px 0px 10px 10px;}
.clearfix:after{content:'\0020';display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
#container,#headerbleft,#main,#main-fullwidth,#footer,.clearfix{display:block;}
.clear{clear:both;}
h1 img,h2 img,h3 img,h4 img,h5 img,h6 img{margin:0;}
table{margin-bottom:20px;width:100%;}
th{font-weight:bold;}
thead th{background:#c3d9ff;}
th,td,caption{padding:4px 10px 4px 5px;}
tr.even td{background:#e5ecf9;}
tfoot{font-style:italic;}
caption{background:#eee;}
li ul,li ol{margin:0;}
ul,ol{margin:0 20px 20px 0;padding-left:20px;}
ul{list-style-type:disc;}
ol{list-style-type:decimal;}
dl{margin:0 0 20px 0;}
dl dt{font-weight:bold;}
dd{margin-left:20px;}
blockquote{margin:20px;color:#666;}
pre{margin:20px 0;white-space:pre;}
pre,code,tt{font:13px 'andale mono','lucida console',monospace;line-height:1.384;}
#search{overflow:hidden;}
.menus,.menus *{margin:0;padding:0;list-style:none;list-style-type:none;line-height:1.0;}
.menus ul{position:absolute;top:-999em;width:100%;}
.menus ul li{width:100%;}
.menus li:hover{visibility:inherit;}
.menus li{float:left;position:relative;}
.menus a{display:block;position:relative;}
.menus li:hover ul,.menus li.sfHover ul{left:0;top:100%;z-index:99;}
.menus li:hover li ul,.menus li.sfHover li ul{top:-999em;}
.menus li li:hover ul,.menus li li.sfHover ul{left:100%;top:0;}
.menus li li:hover li ul,.menus li li.sfHover li ul{top:-999em;}
.menus li li li:hover ul,.menus li li li.sfHover ul{left:100%;top:0;}
.sf-shadow ul{padding:0 8px 9px 0;-moz-border-radius-bottomleft:17px;-moz-border-radius-topright:17px;-webkit-border-top-right-radius:17px;-webkit-border-bottom-left-radius:17px;}
.menus .sf-shadow ul.sf-shadow-off{background:transparent;}
.menu-primary-container{padding:0 0 10px 0;position:relative;width:100%;height:30px;background:#000;}
.menu-primary{}
.menu-primary ul{min-width:160px;}
.menu-primary li a{color:#fff;padding:10px 10px 10px 10px;text-decoration:none;font-family:'Oswald',sans-serif;font-size:13px;text-transform:uppercase;font-weight:normal;text-shadow:0 1px 0 #FFFFFF;margin:0 3px 0 0;}
.menu-primary li a:hover,.menu-primary li a:active,.menu-primary li a:focus,.menu-primary li:hover > a,.menu-primary li.current-cat > a,.menu-primary li.current_page_item > a,.menu-primary li.current-menu-item > a{color:#FFFFFF;outline:0;background-image:-webkit-gradient(linear,top,bottom,color-stop(0,#FB46A3),color-stop(1,#DC147E));background-image:-ms-linear-gradient(top,#FB46A3,#DC147E);background-image:-o-linear-gradient(top,#FB46A3,#DC147E);background-image:-moz-linear-gradient(top,#FB46A3,#DC147E);background-image:-webkit-linear-gradient(top,#FB46A3,#DC147E);background-image:linear-gradient(to bottom,#FB46A3,#DC147E);text-shadow:0 1px 0 #94004E;}
.menu-primary li li a{color:#fff;text-transform:none;background:#E01983;padding:10px 15px;margin:0;border:0;font-weight:normal;text-shadow:0 1px 0 #94004E;}
.menu-primary li li a:hover,.menu-primary li li a:active,.menu-primary li li a:focus,.menu-primary li li:hover > a,.menu-primary li li.current-cat > a,.menu-primary li li.current_page_item > a,.menu-primary li li.current-menu-item > a{color:#fff;background:#F23899;outline:0;border-bottom:0;text-decoration:none;}
.menu-primary a.sf-with-ul{padding-right:20px;min-width:1px;}
.menu-primary  .sf-sub-indicator{position:absolute;display:block;overflow:hidden;right:0;top:0;padding:10px 10px 0 0;}
.menu-primary  li li .sf-sub-indicator{padding:9px 10px 0 0;}
.tabs-widget{list-style:none;list-style-type:none;margin:0 0 10px 0;padding:0;height:26px;}
.tabs-widget li{list-style:none;list-style-type:none;margin:0 0 0 4px;padding:0;float:left;}
.tabs-widget li:first-child{margin:0;}
.tabs-widget li a{color:#F23899;border-top:1px solid #F23899;padding:6px 16px;font-family:Arial,Helvetica,Sans-serif;font-weight:bold;display:block;text-decoration:none;font-size:12px;line-height:12px;background-image:-webkit-gradient(linear,top,bottom,color-stop(0,#F6F6F6),color-stop(1,#E0E0E0));background-image:-ms-linear-gradient(top,#F6F6F6,#E0E0E0);background-image:-o-linear-gradient(top,#F6F6F6,#E0E0E0);background-image:-moz-linear-gradient(top,#F6F6F6,#E0E0E0);background-image:-webkit-linear-gradient(top,#F6F6F6,#E0E0E0);background-image:linear-gradient(to bottom,#F6F6F6,#E0E0E0);-webkit-box-shadow:inset 0 1px 0 0 #FFFFFF;-moz-box-shadow:inset 0 1px 0 0 #FFFFFF;box-shadow:inset 0 1px 0 0 #FFFFFF;}
.tabs-widget li a:hover,.tabs-widget li a.tabs-widget-current{color:#fff;border-top:1px solid #F23899;background-image:-webkit-gradient(linear,top,bottom,color-stop(0,#FE5AAE),color-stop(1,#E31E86));background-image:-ms-linear-gradient(top,#FE5AAE,#E31E86);background-image:-o-linear-gradient(top,#FE5AAE,#E31E86);background-image:-moz-linear-gradient(top,#FE5AAE,#E31E86);background-image:-webkit-linear-gradient(top,#FE5AAE,#E31E86);background-image:linear-gradient(to bottom,#FE5AAE,#E31E86);-webkit-box-shadow:inset 0 1px 0 0 #FF9FD1;-moz-box-shadow:inset 0 1px 0 0 #FF9FD1;box-shadow:inset 0 1px 0 0 #FF9FD1;}
.tabs-widget-content{}
.tabviewsection{margin-top:10px;margin-bottom:10px;}
#crosscol-wrapper{display:none;}
.tabviewsection .PopularPosts .widget-content ul li{margin:0!important;}
#search #s{font-family:inherit;}
.menu-primary li a{line-height:1;}
.tabs-widget li a:hover,.tabs-widget li a.tabs-widget-current{text-decoration:none;}
.related-postbwrap{margin:10px auto 0;}
.related-postbwrap h4{font-weight:bold;margin:15px 0 10px;}
.related-post-style-2,.related-post-style-2 li{list-style:none;margin:0;padding:0;}
.related-post-style-2 li{border-top:1px solid #eee;overflow:hidden;padding:10px 0;}
.related-post-style-2 li:first-child{border-top:none;}
.related-post-style-2 .related-post-item-thumbnail{width:80px;height:80px;max-width:none;max-height:none;background-color:transparent;border:none;float:left;margin:2px 10px 0 0;padding:0;}
.related-post-style-2 .related-post-item-title{font-weight:bold;font-size:100%;}
.related-post-style-2 .related-post-item-summary{display:block;}
.related-post-style-3,.related-post-style-3 li{margin:0;padding:0;list-style:none;word-wrap:break-word;overflow:hidden;}
.related-post-style-3{display:flex;flex-wrap:wrap;}
.related-post-style-3 .related-post-item{display:block;float:left;width:100px;height:auto;padding:10px;border-left:0 solid #eee;margin-bottom:-989px;padding-bottom:999px;}
.related-post-style-3 .related-post-item:first-child{border-left:none;}
.related-post-style-3 .related-post-item-thumbnail{display:block;margin:0 0 10px;width:100px;height:auto;max-width:100%;max-height:none;background-color:transparent;border:none;padding:0;}
.related-post-style-3 .related-post-item-title{font-weight:normal;text-decoration:none;}
div.span-1,div.span-2,div.span-3,div.span-4,div.span-5,div.span-6,div.span-7,div.span-8,div.span-9,div.span-10,div.span-11,div.span-12,div.span-13,div.span-14,div.span-15,div.span-16,div.span-17,div.span-18,div.span-19,div.span-20,div.span-21,div.span-22,div.span-23,div.span-24{float:left;margin-right:10px;}
.span-1{width:30px}.span-2{width:70px}.span-3{width:110px}.span-4{width:150px}.span-5{width:190px}.span-6{width:230px}.span-7{width:270px}.span-8{width:310px}.span-9{width:350px}.span-10{width:390px}.span-11{width:430px}.span-12{width:470px}.span-13{width:510px}.span-14{width:550px}.span-15{width:590px}.span-16{width:630px}.span-17{width:670px}.span-18{width:710px}.span-19{width:750px}.span-20{width:790px}.span-21{width:830px}.span-22{width:870px}.span-23{width:910px}.span-24,div.span-24{width:960px;margin:0}input.span-1,textarea.span-1,input.span-2,textarea.span-2,input.span-3,textarea.span-3,input.span-4,textarea.span-4,input.span-5,textarea.span-5,input.span-6,textarea.span-6,input.span-7,textarea.span-7,input.span-8,textarea.span-8,input.span-9,textarea.span-9,input.span-10,textarea.span-10,input.span-11,textarea.span-11,input.span-12,textarea.span-12,input.span-13,textarea.span-13,input.span-14,textarea.span-14,input.span-15,textarea.span-15,input.span-16,textarea.span-16,input.span-17,textarea.span-17,input.span-18,textarea.span-18,input.span-19,textarea.span-19,input.span-20,textarea.span-20,input.span-21,textarea.span-21,input.span-22,textarea.span-22,input.span-23,textarea.span-23,input.span-24,textarea.span-24{border-left-width:1px!important;border-right-width:1px!important;padding-left:5px!important;padding-right:5px!important}input.span-1,textarea.span-1{width:18px!important}input.span-2,textarea.span-2{width:58px!important}input.span-3,textarea.span-3{width:98px!important}input.span-4,textarea.span-4{width:138px!important}input.span-5,textarea.span-5{width:178px!important}input.span-6,textarea.span-6{width:218px!important}input.span-7,textarea.span-7{width:258px!important}input.span-8,textarea.span-8{width:298px!important}input.span-9,textarea.span-9{width:338px!important}input.span-10,textarea.span-10{width:378px!important}input.span-11,textarea.span-11{width:418px!important}input.span-12,textarea.span-12{width:458px!important}input.span-13,textarea.span-13{width:498px!important}input.span-14,textarea.span-14{width:538px!important}input.span-15,textarea.span-15{width:578px!important}input.span-16,textarea.span-16{width:618px!important}input.span-17,textarea.span-17{width:658px!important}input.span-18,textarea.span-18{width:698px!important}input.span-19,textarea.span-19{width:738px!important}input.span-20,textarea.span-20{width:778px!important}input.span-21,textarea.span-21{width:818px!important}input.span-22,textarea.span-22{width:858px!important}input.span-23,textarea.span-23{width:898px!important}input.span-24,textarea.span-24{width:938px!important}.last{margin-right:0;padding-right:0;}
.last,div.last{margin-right:0;}
.menu-primary-container{z-index:10 !important;}
embed,img,object,video{max-width:100%;}
.menu-primary-responsive-container{display:none;margin:10px;}
.menu-primary-responsive{width:100%;padding:5px;border:1px solid #ddd;}
@media only screen and (max-width: 976px) {
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
#outer-wrapper{width:100%;padding:0;margin:0;}
#header-wrapper{width:100%;padding:10px;margin:0;height:auto;}
#headerbleft{width:100%;padding:10px 0;margin:0;float:none;text-align:center;}
#headerbright{width:100%;padding:0;margin:0;float:none;text-align:center;}
#headerbleft a img{margin:0 auto;padding:0 !important;}
#headerbright .widget{float:none;padding:0 !important;}
#content-wrapper{width:100%;margin:0;padding:10px;}
#main-wrapper{width:100%;padding:0 0 20px 0;margin:0;float:none;}
#sidebar-wrapper{width:100%;padding:0 0 20px 0;margin:0;float:none;}
#rsidebar-wrapper{width:100%;padding:0 0 20px 0;margin:0;float:none;}
.menu-primary-container{float: none;margin-left: 0;margin-right: 0;display: block;}
#topsearch{float:none;margin:10px 10px 0 10px;padding:0;}
#footer-widgets{width:100%;}
.footer-widget-box{width:100%;float:none;padding:10px;margin:0;}
#footer{height:auto;}
#header-wrapper img{height:auto;}
.post-body img{height:auto;}
#copyrights,#credits{width:100%;padding:5px 0;margin:0;display:block;float:none;text-align:center;height:auto;}
div.span-1,div.span-2,div.span-3,div.span-4,div.span-5,div.span-6,div.span-7,div.span-8,div.span-9,div.span-10,div.span-11,div.span-12,div.span-13,div.span-14,div.span-15,div.span-16,div.span-17,div.span-18,div.span-19,div.span-20,div.span-21,div.span-22,div.span-23,div.span-24{float:none;margin:0;}
.span-1,.span-2,.span-3,.span-4,.span-5,.span-6,.span-7,.span-8,.span-9,.span-10,.span-11,.span-12,.span-13,.span-14,.span-15,.span-16,.span-17,.span-18,.span-19,.span-20,.span-21,.span-22,.span-23,.span-24,div.span-24{width:100%;margin:0;padding:0;}
.last,div.last{margin:0;padding:0;}
}
@media only screen and (max-width: 480px) {
.menu-primary-responsive-container {display:true;width: auto;}
.menu-primary-container {display: true;width: auto;}
#header-wrapper .menu-primary-responsive-container,#header-wrapper .menu-primary-responsive-container{margin-left:0;margin-right:0;width:100%;}
.breadcrumb-bwrap {display:true;}
}
@media only screen and (max-width: 320px) {
.tabs-widget{height:52px;}
}
/* Kode Agar Blog Tidak Bisa Di Copy Paste */
.post {
-webkit-touch-callout:none;
-khtml-user-select:none;
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
}
/* Kode Agar Bagian tertentu Bisa Di Copy Paste */
.post comment,.post blockquote,.post pre{
  -webkit-touch-callout:text;
  -khtml-user-select:text;
  -webkit-user-select:text;
  -moz-user-select:text;
  -ms-user-select:text;
}

/* Page Navigation with Number */
#blog-pager {clear:both; width:auto; line-height:17px; position:relative; display:block; text-align:left; overflow:visible; margin:0px; padding:0px}
.showpage a, .showpageNum a, .showpagePoint {position:relative; background:#000000; display:inline-block; font-size:13px; color:#fff; margin:0 4px 0 0;padding:7px 13px; text-decoration:none; border-radius:3px; transition:all .3s}
.showpageOf {float:right; color:#666; display:inline-block; font-size:10px; margin:0; padding:7px 0;}
.showpageNum a:before{ content:&#39;&#39;; position:absolute; top:0; bottom:0; left:0; right:0; box-shadow:inset 0 -2px 2px rgba(0,0,0,0.02); transition:box-shadow 0.5s}
.showpage a:hover, .showpageNum a:hover {background:#fe5aa5; color:#fff; position:relative}
.showpagePoint, .showpagePoint:hover {background:#fe5aa5; color:#fff}
span.label-info a.label-block:nth-child(n+2) {display:none}

#head-soc ul li {list-style :none; padding: 0 0 0 0px; float: left;}
#head-soc ul li a {text-indent: -9999px; font-size: 0; line-height: 0; overflow: hidden ; height: 32px; width: 32px ;border: 0; background: url(https://2.bp.blogspot.com/-KOYdLb0yKgQ/W7u96VDlWZI/AAAAAAAABXU/hW9lmomuoYkGO-oPTjJzP53ciwFLTJZvwCKgBGAs/s1600/social-icons.png) no-repeat; display: block;}

#head-soc li#twt a {background-position: 0px 0px;}
#head-soc li#twt a:hover {background-position: 0px -32px;}

#head-soc li#fbk a {background-position: -32px 0px;}
#head-soc li#fbk a:hover {background-position: -32px -32px;}

#head-soc li#ggl a {background-position: -64px 0px;}
#head-soc li#ggl a:hover {background-position: -64px -32px;}

#head-soc li#rss a {background-position: -96px 0px;}
#head-soc li#rss a:hover {background-position: -96px -32px;}